<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Checker</title>
    <link rel="stylesheet" href="disease-template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6b350c714.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="header">
        <div class ="banner">
            <img class = "disease-image" src="covid-600.jpg" alt="Disease Image">
        </div>
        <nav id="navbar">
            <a href="http://127.0.0.1:5500/realhomepage/homepage.html">
                <img class="transparentLogo" src="Differential Diagnosis Logo.png" alt="Differential Diagnosis Logo">
            </a>
            <div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">YOUR DISEASES</a></li>
                    <li><a href="">SETTINGS</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <div class="Your-disease">
            <h1>(Insert Disease)</h1>
            <p>Symptoms: (Insert Symptoms)</p>
            <p>Diagnosis: (Insert Diagnosis)</p>
            <p>Causes: (Insert Causes)</p>
            <p>Prevention: (Insert Prevention)</p>
            <p>Remedies: (Insert Remedies)</p>
        </div>
    </section>
    <script src="sticky.js"></script>
</body>
</html>