

body {

    
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6e5f9;
}

.logo
{
    width: 500px;

}

.search-box{
    width: 600px;
    background: white ;
    margin: 70px auto 0;
    border-radius: 30px;
    border-bottom: 20px black;

}
.row
{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
button{
    background: #a5083b;
    border:0;
    outline:0;
    padding: 15px 40px;
    border-radius: 35px;


}
button .fa-solid {
    width: 35px;
    color:white;
    font-size:22px;
    cursor:pointer;

}

::placeholder{
    color: #555;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border:0;
    outline:0;
    font-size: 18px;
    color:#333 ;
}
.result-box ul{
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;

}
.result-box ul list-style:hover
{
    background: #e9f3ff;

}

.result-box{
    max-height: 700px;
    overflow-y: scroll;
    border: 1px #999;
}
.symptoms-list
{
    font-size: 30px;
    text-align: center;
    color:#555;
    align-items: center;
    width: 400px;
   display:flex;
    background: white ;
    border-radius: 30px;
    position: absolute;
    top:100px;
    right: 40px;


}
.symptoms-list ul{
    list-style:none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    margin-bottom:10px;
    position:relative;


}



.symptoms-list ul{
    margin-bottom: 10px; 
    padding: 10px; 
    background-color: #d6e5f9; /* Optional: Give items a background color */
    border-radius: 35px; /* Round the corners slightly */
    border: 1px solid black; /* Optional: Add a light border */
    cursor: pointer; 
    align-items: center;
}