

body {

    
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6e5f9;
    height:100%;
    width: 100%;
}

.logo
{
    width: 500px;

}


.search-box{
    width: 600px;
    background: white ;
    margin: 70px auto 0;
    border-radius: 30px;
    border-bottom: 20px black;

}
.row
{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
button{
    background: #a5083b;
    border:0;
    outline:0;
    padding: 15px 40px;
    border-radius: 35px;


}
button .fa-solid {
    width: 35px;
    color:white;
    font-size:22px;
    cursor:pointer;

}

::placeholder{
    color: #555;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border:0;
    outline:0;
    font-size: 18px;
    color:#333 ;
}
.result-box ul{
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;

}
.result-box ul list-style:hover
{
    background: #e9f3ff;

}

.result-box{
    max-height: 700px;
    overflow-y: scroll;
    border: 1px #999;
}
.symptoms-list
{
    font-size: 30px;
    text-align: center;
    color:#555;
    align-items: center;
    width: 400px;
     display:flex;
    background: white ;
    border-radius: 30px;
    position: relative;
    top:0px;
    left: 650px;
    


}
.symptoms-list ul{
    list-style:none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    margin-bottom:10px;
    position:relative;


}


.header {
    min-height: 1080px;
    width: 1900px;
    background-image: linear-gradient(rgba(153, 169, 228, 0.7), rgba(108, 179, 238, 0.7)), url('/realhomepage/diagnosisbackground.jpg'); /* Ensure correct path */
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 400px;
}
.nav-links
{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position: relative;

}
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
    font-size:13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.text-box h1{
    font-size:10px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.text-box p{
    margin:10px 0 40px;
    font-size: 20px;
    color: white;
}