<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Diagnosis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/symptomtemplate.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="alternate stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="alternate stylesheet">

    <script src="https://kit.fontawesome.com/d6b350c714.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class ="navbar">
        <a href="http://127.0.0.1:5500/realhomepage/homepage.html">
            <img class="transparentLogo" src="{{ url_for('static', filename='img/Differential Diagnosis Logo.png') }}" alt="Differential Diagnosis Logo">
        </a>
        <div class="nav-links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">YOUR DISEASES</a></li>
                <li><a href="">SETTINGS</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>You have: Arthritis</h1> 
        <h1><img class = "disease-image" src = arthritis.jpg alt ="Disease-image"> </h1>
        <div class = "description">
            <h1>Description:</h1>
            <p>Arthritis is a condition that causes inflammation in the joints, leading to pain, stiffness, and swelling. There are several types, with the two most common being osteoarthritis (wear and tear on the joints) and rheumatoid arthritis (an autoimmune disease where the immune system attacks the joints). The causes of arthritis can include age, genetics, injury, infections, or immune system dysfunction, depending on the type. It can affect anyone but is more common in older adults.</p>
        </div>
        <h3>Symptoms:</h3>
        <ul>
            <li class ="apple">Joint pain</li>
            <li class ="apple">Swelling</li>
            <li class ="apple">Stiffness</li>
            <li class ="apple">Redness</li>
            <li class ="apple">Decreased range of motion</li>
            <li class ="apple">Fatigue</li>
        </ul>

        <h3>Treatment:</h3>
        <p>Consult your healthcare provider for appropriate treatment options.</p>
        <p>Turmeric & Ginger Tea: Natural anti-inflammatories.</p>

        <p>For more detailed information, consult your healthcare provider.</p>

        <a href="{{ url_for('protected') }}">Back to your profile</a>
    </div>
</body>
<footer>
    <p>&copy; 2025 Differential Diagnosis Goats. All rights reserved.</p>
    <nav id="footer-nav">
        <a class="banana" href="">Privacy Policy</a> |
        <a class="banana" href="">Terms of Service</a> |
        <a class="banana" href="">Disclaimer</a> |
        <a class="banana" href="">Contact Us</a>
    </nav>
</footer>
<script src="{{ url_for('static', filename='js/sticky.js') }}"></script>
</html>



