<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="symptomtemplate.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Diagnosis</title>
</head>
<body>
    <div class="container">
        <h1>You have: Diabetes</h1> <h1>&#128516;</h1>
        <h3>Symptoms:</h3>
        <ul>
            <li>Increased thirst</li>
            <li>Frequent urination</li>
            <li>Extreme hunger</li>
            <li>Unexplained weight loss</li>
            <li>Fatigue</li>
            <li>Blurred vision</li>
        </ul>

        <h3>Treatment:</h3>
        <p>Insulin therapy, oral medications to lower blood sugar levels, a healthy diet, and regular exercise to manage blood sugar.</p>

        <p>For more detailed information, consult your healthcare provider.</p>

        <a href="{{ url_for('protected') }}">Back to your profile</a>
    </div>
</body>
<footer>
    <p>&copy; 2025 Differential Diagnosis Goats. All rights reserved.</p>
    <nav>
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> |
        <a href="{{ url_for('terms_of_service') }}">Terms of Service</a> |
        <a href="{{ url_for('disclaimer') }}">Disclaimer</a> |
        <a href="{{ url_for('contact') }}">Contact Us</a>
    </nav>
</footer>

</html>
