<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Checker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Welcome {{save}}!</h1>
    <h2>Symptom Checker</h2>
    <form id="symptomForm" action="/protected" method = "POST">

        <label for="symptoms">Describe Your Symptoms:</label>
        <textarea id="symptoms" name="symptoms" rows="4" cols="50" placeholder="e.g., headache, fever..." required></textarea>

       <div>  <label>Select any relevant existing conditions:</label> </div> 
        <input type="checkbox" id="diabetes" name="diabetes" value="diabetes">
        <label for="diabetes">Diabetes</label>
        <br>
        <input type="checkbox" id="hypertension" name="hypertension" value="hypertension">
        <label for="hypertension">Hypertension</label>
        <br>
        <input type="checkbox" id="asthma" name="asthma" value="asthma">
        <label for="asthma">Asthma</label>
<br>

        <input type="hidden" name="action" value="symptomSubmit">
        <button value="symptomSubmit" name="symptomSubmit">Submit</button>

        <label>
            <input type="checkbox" name="terms">
            I agree to the terms and conditions
        </label>
    </form>

    <form id="logOut" action="/protected" method="POST">
        <input type="hidden" name="action" value="logOut">
        <button value="logOut" name="logOut">Log Out</button>
    </form>

    <script type="text/javascript">
        function myFunc(event) {
            event.preventDefault();

            var symptoms = document.getElementById("full_name").value;
            var diabetes = document.getElementById("diabetes").value;
            var hypertension = document.getElementById("hypertension").value;
            var asthma = document.getElementById("hypertension").value;
        }
    </script>
</body>
</html>